div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 0.5em;
}

.gifsCard {
  width: 300px;
  height: auto;
}
